@model PharmCare.DTO.ApplicationUsersModule.ApplicationUserDTO

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/css/style.css" rel="stylesheet" />





<div class="row">
    <div class="col-md-6 col-sm-6 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password </h2>

          

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div style="display:none;" id="dvError">
                    <div class="alert alert-danger" role="alert">
                        <h6 id="info"></h6>
                    </div>
                </div>

                <div style="display:none;" id="dvSuccess">
                    <div class="alert alert-success" role="alert">
                        <h6 id="passwordChangeSuccess"></h6>
                    </div>
                </div>
                <form id="frmChangePassword" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Old Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" class="form-control myinputs" id="txtCurrentPassword" name="CurrentPassword">
                        </div>
                    </div>       
                                        
                    
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" class="form-control myinputs" id="txtNewPassword" name="NewPassword">
                        </div>
                    </div>
                        
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                            Confirm Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="password" class="form-control myinputs" id="txtConfirmPassword" name="ConfirmPassword">
                        </div>
                    </div>



                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                     
                            <button class="btn btn-primary" type="reset">Clear</button>
                            <button type="button" id="btnChangePassword"  class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>























<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>


<script>

    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }
    $("#btnChangePassword").click(function () {

        debugger

        if ($('#txtCurrentPassword').val() == '') {

            $('#txtCurrentPassword').focus();

            $("#dvError").show();

            $("#info").text("Current password is required");

            return false;
        }

        if ($('#txtNewPassword').val() == '') {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("New password is required");

            return false;
        }

        if ($('#txtConfirmPassword').val() == '') {

            $('#txtConfirmPassword').focus();

            $("#dvError").show();

            $("#info").text("Confirm password is required");

            return false;
        }

        if ($('#txtNewPassword').val() != $('#txtConfirmPassword').val()) {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("Password and confirm password do not match");

            return false;
        }

        var data = $("#frmChangePassword").serialize();

        $.ajax({

            type: "POST",

            url: "/Admin/UserManager/UpdatePassword/",

            data: data,

            beforeSend: function () { ShowLoader(); },


            success: function (response) {

                if (response.success) {

                    $("#dvSuccess").show();

                    $("#passwordChangeSuccess").text(response.responseText);

                    setTimeout(function () {

                        window.location = "@Url.Action("Logout","Account", new { area="" })";

                    }, 3000);

                } else {
                    $("#dvError").show();

                    $("#info").text(response.responseText);
                }
            },




            error: function (response) {
                alert("error!");  //

            },
            complete: function () {
                HideLoader();
            }
        })

    })
</script>