@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />

<div class="x_panel shadow p-3  rounded" style="height: 5rem; background-color: #2a3f54;">
    <div class="col-md-10 my-auto">
        <h4 class="top-banner-header">
            Point of Sale
        </h4>
        <p class="text-primary">
            <span>Home</span> <span> <i class="fa fa-angle-double-right"></i> </span>  <span>
                Point of Sale
            </span>
        </p>

    </div>

    <div class="col-md-2 my-auto">
        <div class="col-md-12 text-center text-bold">
            <a class="pull-right" href="#">

                <span class="top-banner-header" id="RowsCount">Items</span>
                <span class="top-banner-header">Items</span>

            </a>

        </div>
    </div>

</div>

<!-----Add items to table------>





<div class="x_panel">

    <div class="row">
        <div class="col-md-4">
            <h6 class=""><i class="fa fa-search"></i> Search Medicine</h6>
        </div>
    </div>
    <hr class="new3">


    <div class="form-group">

        <div class="col-md-4" style="display:none;">
            <div class="form-group">
                Item Name:
                <input type="text" id="txtMedicineName" name="ItemName" class="form-control myinputs" />
                <input type="text" id="txtMedicineId" name="MedicineId" class="form-control myinputs" />

            </div>

        </div>

        <div class="col-md-12">
            <label for="inputPassword" class="col-sm-12 col-form-label"><strong>Select  Medicine:</strong></label>
            <div class="input-group">
                <select class="custom-select myinputs" id="medicineDropdown">
                    <option value="" selected disabled hidden>Select Medicine...</option>
                    @if (ViewBag.Medicines != null)
                    {
                        foreach (var item in ViewBag.Medicines)
                        {
                            <option value="@item.Id">@item.MedicineFullName</option>
                        }
                    }
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" onclick="GetMedicineDetailsData()">Get Details</button>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-10 col-form-label"><strong>Selling Price:</strong></label>
                <div class="col-sm-10">
                    <input type="text" id="txtSellingPrice" name="" value="0" class="form-control myinputs numericOnly myinputs" readonly="readonly" />
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-10 col-form-label"><strong> Current Quantity:</strong></label>
                <div class="col-sm-10">
                    <input type="text" value="0" id="txtCurrentQuantity" name="Quantity" readonly="readonly" class="form-control myinputs numericOnly myinputs" />
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-10 col-form-label"><strong> Quantity:</strong></label>
                <div class="col-sm-10">
                    <input type="text" value="0" id="txtQuantity" name="Quantity" class="form-control myinputs numericOnly myinputs" onchange="CalculateSubTotal()" />
                </div>
            </div>
        </div>




        @*  <div class="col-md-2">
        <div class="form-group row">
        <label for="inputPassword" class="col-sm-10 col-form-label"><strong>Discount:</strong></label>
        <div class="col-sm-10">
        <input type="text" value="0.00" id="txtDiscount" name="Discount" class="form-control myinputs numericOnly myinputs" onchange="CalculateSubTotal()" />
        </div>
        </div>
        </div>*@

        <div class="col-md-2" style="display:none;">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-10 col-form-label"><strong>Total:</strong></label>
                <div class="col-sm-10">
                    <input type="text" value="0.00" id="txtTotal" name="Total" class="form-control myinputs myinputs" readonly="readonly" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group row">

                <input type="button" id="btnAddToList" style="margin-top:2.4em" name="btnAddToList" class="btn btn-success pull-right btn-sm" value="Add To List" />

            </div>

        </div>



    </div>
</div>



<!-----end------>


<div class="x_panel ">

    <div class="scroll_pos">

        <div class="row">
            <div class="col-md-4">
                <h6 class=""><i class="fa fa-building"></i> List of Medicines</h6>
            </div>
        </div>

        <hr class="new3">

        <table id="tblProducts" class="table table-bordered dt-responsive nowrap table-sm" cellspacing="0" width="100%">
            <thead>
                <tr class="w3-green">

                    <th hidden>Item Id</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>



    @*

    <div class="item form-group col-md-8 col-sm-8 pull-right">
    <label class="col-form-label col-md-8 col-sm-8 label-align" for="first-name">
    Total Amount
    </label>
    <div class="">
    <input type="text" readonly="readonly" id="" class="form-control myinputs" value="0.00" style="background-color: #1a1a2c; color:#ffffff;">
    </div>

    <div class="" id="btnCheckoutfff">
    <button class="btn btn-primary" onclick="PaymentWindow()" value="Payment">Checkout</button>
    </div>
    </div>
    *@


    <table class="balance">
        <tbody>
            <tr>
                <th><span contenteditable="">Total</span></th>
                <td><span data-prefix="">Ksh</span><strong><span id="txtTotalAmount"> </span></strong> </td>
            </tr>
            <tr>
                <th><span contenteditable="">Amount Paid</span></th>
                <td><span data-prefix="">$</span><span contenteditable="">0.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable=""></span></th>
                <td>
                    <button class="btn btn-primary col-md-12" onclick="PaymentWindow()" value="Payment">Checkout</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="PaymenModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PaymenModalLabel">Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 ">Total Amount </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="txtTotalAmountPayment" class="form-control myinputs" disabled="disabled">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 ">Payment Mode </label>
                    <div class="col-md-9 col-sm-9 ">
                        <select class="form-control myinputs" id="txtUnitId" name="UnitId">

                            <option value="Cash">Cash</option>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 ">Amount Paid </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="txtPaymentAmount" onkeypress="CalculateBalance()" class="form-control myinputs numericOnly">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 ">Balance </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="txtBalance" class="form-control myinputs" disabled="disabled">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveTransaction()">Submit</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ReceiptModal" tabindex="-1" role="dialog" aria-labelledby="ReceiptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReceiptModalLabel">Success !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="frmPrintReceipt">

                    <div class="sa-placeholder"></div>
                    <div>
                        <img src="~/images/Accept-icon.png" class="img-center" />
                    </div>
                    <br />
                    <div class="" role="alert">
                        <strong> Transaction was successfull ,click Yes to print the receipt or No to Cancel</strong>
                    </div>
                    <input type="hidden" id="txtReceiptNo" name="ReceiptNo" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"> No</button>
                <button type="button" id="btnPrint" class="btn btn-primary">  Yes</button>
            </div>
        </div>
    </div>
</div>



<div id="divLoader" style="display:none;" class="loader">
    <img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />
</div>

<style>
        table.meta, table.balance {
            float: right;
        width: 36%;
    }
</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/PharmCareJs/pointOfSale.js"></script>







